<h2 class="h2">Right way to your Future.....</h2>
<br>

<div class="card">
<form>
    <h3 class="text">Sign up for Free</h3>
    <div class="form-group">
<input type="text" id="id" formControlName="id" placeholder="Enter ID:">
</div>
 
<br>
<div class="form-group">
    <input type="text" id="fname" formControlName="fname" placeholder="Enter First Name:">
    </div>
    <br>

    <div class="form-group">
        <input type="text" id="lname" formControlName="lname" placeholder="Enter Last Name:">
        </div>
        <br>

        <div class="form-group">
            <input type="text" id="email" formControlName="email" placeholder="Enter E-mail:">
            </div>
            <br>
            <div class="form-group">
                <input type="text" id="password" formControlName="password" placeholder="Enter password:">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" id="password" formControlName="password" placeholder="Confirm Password :">
                    </div>
<br>
                    <div class="form-group">
                        <Label>Select position:</Label>
                      <select  class="form-class col-md-3 col-sm-3 " id="position" formControlName="position">
                  <option value="Teacher">Teacher</option>
                  <option value="Programmer">Programmer</option>
                  <option value="Networking">Networking</option>
                  <option value="Student">Student</option>
                           </select>
                           <br>
               <button class="btn btn-primary design">Submit</button>        
        </div>

                   

            

</form>


</div>